<% provide(:title, 'Sign up') %>

<div class="reviewing-application">
  <%= image_tag("review-app.gif", :class => "review-gif", :alt => "Loading . . .") %>
  <h1 class="review-text">Oat Dog is reviewing your application!</h1>
</div>

<div id="sign-up-form" class="background">
  <h1>Sign up for the club!</h1>

      <%= form_for(@user, multipart:true) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Password again . . ." %>
        <%= f.password_field :password_confirmation %>
        
        <%= f.label :profile_picture, "Profile Image (optional)" %>
        <div class="field file-field">  
          <%= f.file_field :profile_picture %>
        </div>
        <%= f.submit "Join the club!", class: "btn btn-primary" %>
      <% end %>
</div>