  <% if image.zine_content %>
  <% else %>
<div class="paragraph-image-container">
  <% end %>
  <ul class="images-list">
    <li id="image-<%= image.id  %>" class="zine-image-li" style="
      border: 
        <% if image.zine_content %>
          <% if image.width > 100 %>
            10px 
          <% else %>
            2px 
          <% end %>
          solid <%= image.zine_content.border_color %>;
        <% else %>
          none; margin: 
          <% if image.width > 100 %>
            10px; 
          <% else %>
            2px; 
          <% end %>
        <% end %>
        max-width: 
        <% if image.width > 100 %>
          <%= image.width + 20 %>px;
        <% else %>
          <%= image.width + 2 %>px; font-size: 10px;
        <% end %>
      ">
    
      <% if @editor %>
        <%= render partial: 'shared/image_buttons', :locals => {image: image } %>
      <% end %>

      <% if image.image_file.url != '' %>
        <img src="
          <% if image.date_created.to_i < 1431431658 %>
            <% image.image_file.url %>
          <% else %>
            <% if image.width < 501 %>
              <%= image.image_file.url(:medium) %>
            <% elsif image.width < 801 %>
              <%= image.image_file.url(:large) %>
            <% elsif image.width < 1201 %>
              <%= image.image_file.url(:xlarge) %>
            <% else %>
              <%= image.image_file.url(:full) %>
            <% end %>
            " class="zine-image" style="height: auto; max-width: <%= image.width %>px;">
            <% end %>
          <% end %>

      <% if image.caption != '' %>
        <div class="caption-container">
            <p class="caption"><%= image.try(:caption) %></p>
        </div>
      <% end %>

    </li>
  </ul>
  <% if image.zine_content %> 
  <% else %>

  <%= render partial: 'shared/paragraph_image_edit_boxes', :locals => {image: image } %>

</div>
  <% end %>

<br>