<li id="image-<%= image.id  %>" class="zine-image-li" style="border: 10px solid #<%= image.border_color %>">
  <% if image.url != '' %>
    <img src="<%= image.url %>" class="zine-image">
  <% end %>
  <br>
  <div class="infoblah">
    id: <%= image.id %><br>
    image cover: <%= image.cover %><br>
    p ID: <%= image.paragraph_id %><br>
    height: <%= image.height %><br>
    width: <%= image.width %><br>
    display caption?
      <% if image.display_caption %>
        true
      <% else %>
        false
      <% end %><br>
    <% if image.display_caption %>caption: <%= image.try(:caption) %><br><% end %>
    border color: <%= image.border_color %>
  </div>
</li><br><br>
