<% if !image.cover %>
  <li id="image-<%= image.id  %>" class="zine-image-li" style="
    border: 
      <% if image.width > 100 %>
        10px 
      <% else %>
        1px 
      <% end %>
      solid <%= image.border_color %>;
    max-width: 
      <% if image.width > 100 %>
        <%= image.width + 20 %>px;
      <% else %>
        <%= image.width + 2 %>px; font-size: 10px;
      <% end %>
      ">

    <% if image.url != '' %>
      <img src="<%= image.url %>" class="zine-image" style="height: auto; max-width: <%= image.width %>px;">
    <% end %>

    <br>

    <div class="infoblah" >
      id: <%= image.id %><br>
      url: <%= image.url %><br>
      image cover: <%= image.cover %><br>
      p ID: <%= image.paragraph_id %><br>
      height: <%= image.height %><br>
      width: <%= image.width %><br>
      display caption?
        <% if image.display_caption %>
          true
        <% else %>
          false
        <% end %><br>
      <% if image.display_caption %>caption: <%= image.try(:caption) %><br><% end %>
      border color: <%= image.border_color %>
    </div>

    <% if image.display_caption %>
      <div class="caption">
        <%= image.try(:caption) %><br>
      </div>
    <% end %>

  </li>

  <br><br>
<% end %>