<div id="paragraph-<%= paragraph.id  %>" class="background paragraph" style=
  "border: 
    <% if paragraph.zine_content.border_color == "None" %>
      None;
    <% else %>
      10px solid <%= paragraph.zine_content.border_color %>; 
      font-size: <%= (paragraph.font_size / 14.0) %>em;
    <% end %>
">

  <% if @editor %>
    <%= render partial: 'shared/paragraph_buttons', :locals => {zine_content: paragraph.zine_content } %>
  <% end %>

  <h2 class="p-header">
    <%= paragraph.header %>
  </h2>

  <span class="content" style="">
    <%= paragraph.content %>
  </span>

  <br>

  <ul class="paragraph-images">
  <%= render partial: 'shared/image', collection: Image.where(paragraph: paragraph ) %>
  </ul> 

</div>
