<div class="btn btn-sm btn-warning">
  <strong><%= zine_content.position %></strong>
</div>
<%= link_to '<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>'.html_safe, {:controller => "zine_contents", :action => "position", :id => zine_content.id, :direction => "up" }, {:class => "btn btn-sm btn-info" }%>
<%= link_to '<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>'.html_safe, {:controller => "zine_contents", :action => "position", :id => zine_content.id, :direction => "down" }, {:class => "btn btn-sm btn-primary" }%>
<%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>'.html_safe, {:controller => "zine_contents", :action => "position", :id => zine_content.id, :direction => "top" }, {:class => "btn btn-sm btn-info" }%>
<%= link_to '<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>'.html_safe, {:controller => "zine_contents", :action => "position", :id => zine_content.id, :direction => "bottom" }, {:class => "btn btn-sm btn-primary" }%>

<%= render partial: 'shared/orderable_remove_button', :locals => {zine_content: zine_content } %>

