<li>
  <%= link_to zine.title, zine %>
  <% if current_user %>
    <% if current_user.admin? || zine.written_by?(current_user) %>
        |  <%= link_to "delete", zine, method: :delete, data: { confirm: "Delete #{zine.title}?" } %>
        |  <%= link_to :controller => "zines", :action => "publish", :id => zine.id do %>
            <% if zine.published %>
              <%= "unpublish" %>
            <% else %>
              <%= "publish" %>
            <% end %>
          <% end %>
          
    <% end %>
  <% end %>
</li>
