<% provide(:title, @zine.title) %>

<% if @editor %>
    <%= render partial: 'zines/edit_area' %>
<% end %>

<%= render partial: 'zines/title' %>


<%= render partial: 'zines/authors' %>

  <% if @zine.paragraphs.any? %>
    <%= will_paginate @paragraphs %>
    <ol class="zines">
    <%= will_paginate @paragraphs %>
      <%= render partial: 'paragraphs/paragraph', collection: @paragraphs %>
    </div>
    </ol>
    <%= will_paginate @paragraphs %>
  <% end %>

  <% if @zine.images.any? %>
    <%= will_paginate @images %>
    <ol class="images">
      <%= render partial: 'shared/image', collection: @images %>
    </ol>
    <%= will_paginate @images %>
  <% end %>
