<% provide(:title, @zine.title) %>

<% if @editor %>
    <%= render partial: 'zines/edit_area' %>
<% end %>

<div id="zine-title">

  <%= render partial: 'zines/title' %>

</div>



<div id="below-title">

  <%= render partial: 'zines/authors' %>

  <% if @zine_contents.any? %>
    <%= will_paginate @zine_contents %>
    <ol id="zine-contents" class="zines">
        <%= render partial: 'shared/zine_content', collection: @zine_contents %>

    </ol>
    <%= will_paginate @zine_contents %>
  <% end %>
</div>

