<div class="form invisible background new-paragraph-form form-button box">

  <small class="zine-content-close-box"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>


  <h2>New Paragraph!</h2>

  <div class="row">
    <div class="form-pad">
      <%= form_for(@paragraph, multipart:true) do |f| %>

        <%= f.text_field :header, :placeholder => "&nbsp;Header".html_safe %>

        <%= f.text_area :content, :placeholder => "&nbsp;Text".html_safe %>

        <%= f.fields_for :zine_content do |z| %>

          <%= z.label "Border Color:" %>
          <%= z.text_field :border_color, :placeholder => "#FFFFFF", :class => "colorpicker" %>

          <%= z.label "Add at:" %>
          <%= z.number_field :position,:placeholder => (@zine_contents.length + 1), within: 1..(@zine_contents.length + 1) %>

          <%= z.hidden_field :zine_id, value: @zine.id %>

        <% end %>

        <%= f.hidden_field :id, value: @zine.id %>

        <%= f.submit "Create Paragraph!", class: "btn btn-primary" %>
      <% end %>
      
    </div>
  </div>
</div>
