<div class="form background form-button image-form
  <% if paragraph %>
  new-paragraph-image
  <% else %>
  new-image-form 
  <% end %>
 box invisible">
 
  <small class="zine-content-close-box"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>


  <h2>New Image!</h2>

  <div class="row">
    <div class="form-pad">
      <%= form_for(@image, multipart:true) do |f| %>

        <div class="field">
          <%= f.file_field :image_file %>
        </div>

        <%= f.text_area :caption, class: 'form-control',  :placeholder => "&nbsp;Caption".html_safe, :class => "caption-text-area", :id => "caption-text-area-new", :maxLength => "250"  %>
        <br><br>
        <% if paragraph %>
        <% else %>
          <%= f.fields_for :zine_content do |z| %>
            <%= z.label "Border Color:" %>
            <%= z.text_field :border_color, :placeholder => "#FFFFFF", :class => "colorpicker" %>

            <%= z.label "Add at:" %>
            <%= z.number_field :position,:placeholder => (@zine_contents.length + 1), within: 1..(@zine_contents.length + 1) %>

            <%= z.hidden_field :zine_id, value: @zine.id %>

          <% end %>
        <% end %>
        <%= f.label "Max Width:" %>
        <%= f.number_field :width, within: 50...1600 %>
        <%= f.hidden_field :id, value: @zine.id %>

        <% if paragraph %>
          <%= f.hidden_field :paragraph_id, value: paragraph.id %>
        <% end %>


        <%= f.submit "Create Image!", class: "btn btn-primary" %>
      <% end %>
      
    </div>
  </div>
</div>
