<header class="navbar navbar-fixed-top">
  
  <div class="container">
    <nav>

    <div class="nav navbar-nav navbar-left">
      <a href="/"><img class="oat-dog-logo" src="https://s3.amazonaws.com/oatdogclub/OatDogXS.png"></a><%= link_to "Oat Dog Club", root_path, class: "logo" %>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="new-zine-menu nav-li"><a href="#">New Zine!</a></li>
        <% end %>
          <li class="nav-li"><%= link_to "Zines", zines_path %></li>
          <li class="nav-li"><%= link_to "Members", users_path %></li>
        <% if signed_in? %>
          <li class="dropdown nav-li">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.try(:name) %>&nbsp;&nbsp;<span style="font-size: 75%;" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit Membership", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-li"><%= link_to "Sign up!", signup_path %></li>
          <li class="nav-li"><%= link_to "Sign in", signin_path %></li>
        <% end %>

      </ul>
      
    </nav>
  </div>

</header>

<div>
  <header class="phone-navbar navbar-fixed-top">
    
    <div class="container">
      <nav>

      <a href="/"><img class="phone-oat-dog-logo" src="https://s3.amazonaws.com/oatdogclub/OatDog500.png"></a>
      <a href="/"><div class="phone-logo"></a>
      Oat Dog Club
      </div>

      <ul class="phone-nav-ul">

          <% if signed_in? %>

            <li class="dropdown phone-nav-li phone-dropdown">

              <a href="#" class="">
                <%= current_user.try(:name) %>&nbsp;&nbsp;<span style="font-size: 75%;" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </a>
            </li>


          <% else %>

            <li class="phone-nav-li"><%= link_to "Sign in", signin_path %></li>
            <li class="phone-nav-li"><%= link_to "Sign up!", signup_path %></li>
            



          <% end %>

          <li class="phone-nav-li"><%= link_to "Members", users_path %></li>

          <li class="phone-nav-li"><%= link_to "Zines", zines_path %></li>
          <% if signed_in? %>
          <li class="phone-nav-li new-zine-menu"><a href="#">New Zine!</a></li>
          <% end %>

        </ul>

  </header>
<% if signed_in? %>
  <div class="phone-dropdown-menu invisible">
    <ul>
      <%= link_to '<li class="phone-dropdown-nav">Profile</li>'.html_safe, current_user %>
      <%= link_to '<li class="phone-dropdown-nav">Edit Membership</li>'.html_safe, edit_user_path(current_user) %>
      <li class="divider phone-dropdown-nav"></li>
      <%= link_to '<li class="phone-dropdown-nav">Sign out</li>'.html_safe, signout_path, method: "delete"  %>

    </ul>
  </div>
</div>
<% end %>

<%= render 'zines/new' %>
